-- Add forfeit tracking columns to match_results table
-- Run this script to add the new forfeit functionality

ALTER TABLE match_results 
ADD COLUMN home_forfeit TINYINT(1) DEFAULT 0 COMMENT 'Whether home team forfeited (0=no, 1=yes)',
ADD COLUMN away_forfeit TINYINT(1) DEFAULT 0 COMMENT 'Whether away team forfeited (0=no, 1=yes)';

-- Update existing records to have default forfeit values
UPDATE match_results SET home_forfeit = 0, away_forfeit = 0 WHERE home_forfeit IS NULL OR away_forfeit IS NULL;
